*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  color: #4b4b4b;
  font-family: 'Source Sans Pro', sans-serif;
 
}
.logo{
  text-align: center;
  margin: 20px 0;
}
.menu{
  padding: 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.icon{
  height: 30px;
  overflow: hidden;
  margin-top: 11px;
}
.icon a img{
  transform: translateY(-30px);
  transition: 0.5s;
}
.icon a img:hover{
  transform: translateY(0px);
}


.menu-right{
  float: right;
}
.menu-right ul{
  list-style: none;
}
.menu-right ul li{
  /* display: inline-block; */
  float: left;
  margin-right: 10px;
}
.menu-a{
 
  /* color: white; */
  background-color: black;
}
.menu-right ul li a{
  /* color: black; */
  text-decoration: none;
  padding: 10px 15px 23px 18px;
  color: #4b4b4b;
  display: inline-block;
  /* line-height: 10px;
  
  */

}
.menu-right ul li a:hover{
  background-color: black;
}
#check{
  display: none;
}
.menu-right label{
  display: none;
}
.work{
  padding: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.tatal{
  background-image: url(img/cross-pattern.png);
  text-align: center;
  
}
.tatal h1{
  background-color: white;
  padding: 0px 4px;
  display: inline-block;
}


.slide{
  margin: 20px 0;
}
.photos img{
  width: 100%;
}
.box img{
  width: 100%;
}
.box{
  border-right:1px solid black ;
  border-bottom:1px solid black ;
  position: relative;
}
.box:hover{
  .box-up{
      display: block;
  }
}

.box-up{
  background-color: rgba(0, 0, 255, 0.484);
  position: absolute;
  display: none;
  
 
}
.box-up h2{
  color: black;
  padding: 10px 0;
}
.box-up p{
  color: black;
}

.ditels{
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin: 30px 0;
}
.icone-1{
  text-align: center;
}
.icone-1 img{
 
  margin-top: 20px;

}
.disin p{
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin: 30px 0;
}
.footer-end{
  background-color:#4b4b4b;
  padding: 5px 5px;
}
.footer-end a{
  color: white;
  text-decoration: none;
}
.footer-end ul{
  list-style: none;
  float: right;
 
}
.footer-end ul li{
  display: inline-block;
  

  padding: 0 10px;
}
@media (max-width:768px) {
  .menu-right label{
      display: block;
      position: absolute;
      font-size: 30px;
      right: 0px;
      margin-top: -30px;
      margin-right: 20px;
  }
  .menu-right{
      float: none;
  }
  .menu-right ul li{
     display: block;
      /* padding: 20px 0px; */
      margin-top: 10px;
      width: 100%;
  }
  .menu-right ul li a{
      
     /* padding-right: 600px; */
     width: 100%
  }
  .menu-right ul{
    margin-top: 20px;
    display: none;
  }
  
  #check:checked~ul{
      display: block;
      transition: 0.5s;
  }
  .footer-end ul{
     
      float: none;
     
  }
}

@media (max-width:768px) {
  .footer-end{
      text-align: center;
  }
  .footer-end ul  li{
    float: none;
      margin-top: 5px;
  }
}